<?xml version="1.0" encoding="UTF-8" ?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
   http://www.springframework.org/schema/aop 
   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
   http://www.springframework.org/schema/context 
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

<!--  autowire for PointA -->
	<bean name="triangle" class="com.spring.model.Triangle" autowire="byName" init-method="initT" destroy-method="destroyT">
		<property name="name" value="Triangle Name" />
		<property name="messageSource" ref="messageSource" />
		<property name="pointB" ref="point2" />
		<property name="pointC" ref="point3" />
	</bean>

	<!-- Only 1 id, but Many names cane be there;Also any special chars can 
		be there in name. else name & id same -->
	<bean id="pointA" name="myFoo,/kingBean,notBar" class="com.spring.model.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>

	<bean id="point2" class="com.spring.model.Point">
		<property name="x" value="1" />
		<property name="y" value="0" />
	</bean>

	<bean id="point3" class="com.spring.model.Point">
		<property name="x" value="0" />
		<property name="y" value="1" />
	</bean>

	<bean name="circle" class="com.spring.model.Circle">
		<property name="name" value="Circle Name" />
	</bean>

	<bean name="shapeService" class="com.spring.model.ShapeService"
		autowire="byName" />

	<bean name="loggingAspect" class="com.spring.model.LoggingAspect" />

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>
					mymessagesFile
				</value>
			</list>
		</property>
	</bean>

	<bean
		class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />
		
	<bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/Employee" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>
	
	<alias name="ds" alias="dataSource"/>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="ds" />
	</bean>
	
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
</beans>